.TabConfirmed{
  height: 150px;
  width: 200px;
  border-radius: 15px;
  margin-left: 30px;
  display:inline-block;
  justify-Content: 'center';
  text-align:'center';
  border-radius: 10px;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    font-weight: bold;
    background-color:rgb(240, 236, 11)
}
.TabDeaths{
  height: 150px;
  width: 200px;
  border-radius: 15px;
  margin-left: 30px;
  display:inline-block;
  justify-Content: 'center';
  text-align:  'center';
  border-radius: 10px;
    border-width :5px;
    border-color:rgb(2, 2, 2);
    border-style: solid;
    font-weight: bold;
    background-color:rgb(241, 7, 7)
}

.TabRecovered{
  height: 150px;
  width: 200px;
  border-radius: 15px;
  margin-left: 30px;
  display:inline-block;
  justify-Content: 'center';
  text-align:  'center';
  border-radius: 10px;
    border-width: 5px;
    border-color: rgb(7, 7, 6);
    border-style: solid;
    font-weight: bold;
    background-color:rgb(15, 250, 7)
}